body {
}

.appContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  box-sizing: border-box;
}

.fixedHeader {
  position: fixed;
  background-color: white;
  z-index: 10;
  margin-left: 400px; 
}

.weekTitle {
  margin-left: 330px;
}

.buttonAndCarouselContainer {
  position: fixed;
  margin-top: 40px;
}

.selected {
  background-color: rgba(0, 255, 0, 0.555);
}

.tooManyHours {
  color: red;
}

.day:not(:last-child) {
  margin-right: 10px;
}

.hour {
  position: relative;
  width: 100px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid darkorchid;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 25px;
}

.hour > button {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 26px;
  border-radius: 10px;
}

.hour > button:hover {
  cursor: pointer;
}

.hour li:hover {
  background-color: red;
  cursor: pointer;
}

.timetableContainer {
  display: flex;
  flex-direction: row;
  margin-left: 400px;
  margin-top: 100px;
}

.dayLabels {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

.dayLabels > div {
  width: 100px;
  text-align: center;
}
.dayLabels > div:not(:first-child) {
  padding-left: 10px;
}

.hourLabels {
  margin-right: 20px;
}

.hourLabels > p {
  height: 160px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* CAROUSEL */

.carousel {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.employeeBlock{ 
  width: 50px;
  height: 40px;
  border: 1px solid green;
  box-sizing: border-box
}

.employeeBlock:not(:first-child) {
  margin-left: 5px;
}

.employeeBlock div:first-child:hover {
  cursor: pointer;
}


/* CALENDAR */
.calendarContainer {
  margin-top: 20px;
  width: 250px;
  box-sizing: border-box;
}

.calendarNavbar {
  width: 100%;
  height: 35px;
  border: 1px solid darkred;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.calendarBlock {
  width: 100%;
  height: 200px;
  border: 1px solid deepskyblue;
  box-sizing: border-box;
  padding: 20px;
}

.calendarArrows {
  user-select: none;
  font-size: 1.4rem;
}

.calendarArrows:hover {
  cursor: pointer;
}

.calendarArrows span {
  width: 20px;
  text-align: center;
  border-radius: 100px;
}

.calendarArrows span:hover {
  color: rgba(0, 183, 255, 0.39);
}

.calendarArrows span:not(:last-child) {
  margin-right: 5px;
}

.dayLetters {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dayLetters > div {
  width: 30px; 
  text-align: center;
}

.weekRow {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.weekRow:hover {
  background-color: darkcyan;
  cursor: pointer;
}

.dayInRow { 
  width: 30px;
  text-align: center;
}

.selectedWeek {
  background-color: goldenrod;
}

/* NEW EMPLOYEE FORM */

.newEmployeeForm {
  border: 1px solid darkcyan;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
}

.newEmployeeForm p {
  margin: 0;
}

.newEmployeeForm .titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newEmployeeForm > form > .titleBar > p {
  margin-top: 10px;
}

.newEmployeeForm > form {
  display: flex;
  flex-direction: column;
}

.closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0;
}

.closeBtn:hover {
  cursor: pointer;
  color: #7a7a7a;
}

/* TIME SELECTION */

.timesSelection {
  margin-top: 10px;
}

.timesSelection > *:not(:last-child) {
  margin-right: 3px;
}
